{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 90,
	"plugins": ["prettier-plugin-svelte"],
  "svelteStrictMode": true,
  "svelteIndentScriptAndStyle": true,
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}

